# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a4c95621573841e2098da3fe79abd8055d425ac248108b531810c2bf50086f9dff447486e8025f24ee37f461d6b8861c17cd5bcfa41d0b3d27bb39b9589d14e8

test:
  secret_key_base: 64663e6d69eb3d2f044a3ba695cba8611e6c24f2dd029e11eb5330831a55f0c093920028e852e4fb511303bb9582d3ca062d8da8ae6c054e79e8ef40c2eede2e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
